*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    font-size: 17px;
    padding: 10px;
    background-color: black;
}

.container{
    background-color: rgb(226, 243, 200);
    padding: 3px;
    border: 1px solid lightgreen;
    border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid red;
    border-radius: 5px;
}

fieldset{
    background-color: white;
    border: 1px solid green;
}

.main-head{
    color: aqua;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    transition: sliding 3s ease;
}

input[type="button"]
{
    background-color: rgb(142, 213, 235);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: red;
    color: black;
    text-decoration: underline;
}

footer {
    text-align: left;
    background-color: rgb(241, 203, 133);
    width: 100%;
}